.product_container1{
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    position: fixed;
    background-image: url("../Images/tasks-calendar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.product_message{
    position: absolute;
    top: 10%;
    left: 70%;
    width: 20%;
    color: #000;
    font-size: 400%;
}

.product_container1 i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}




.product_container2{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 100%;
    background-image: url("../Images/man_board.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product_container2 h1{
    transition: all 0.8s ease;
}

/* code for the text that appears upon scrolling */
.product_container2.hidden h1{
    opacity: 0;
    transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.product_guarantee{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
    color: #FFF;
    font-size: 400%;
}