/* Code for navigation bar */
body{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden
}

header{
    background: #FFF; /* was #333 */
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 5;
    border-bottom: double;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    float: left;
    height: 80px;
    width: 20%;
    cursor: pointer;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 31px;
    
    position: relative;
}

nav a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #000;
}

nav a::after{
    content: '';
    display: block;
    height: 5px;
    background-color: #000;
    
    position: absolute;
    top: 50px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

nav a:hover::after{
    width: 100%;
}

@keyframes bob{
    0%   {top: 90%; left: 50%;}
    50%  {top: 87%; left: 50%;}
    100% {top: 90%; left: 50%;}
}